body {
    background-color: #224B88;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6, th {
    color:#F7F7F7;
}
#header {
    background-color: #1F437B;
    display:flex;
    justify-content: space-between;
    height:60px;
    padding:1%;
}
#header>div{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:12%;
}
#header>div>a{
    color:white;
    text-decoration:none;
    font-size:20px;
    margin:0 1%;
}
.tablesDiv{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:5%;
    margin-top:4%;
    gap: 15px;
}
.team-container{
    width:80%;
    margin:auto;
}
.header-teams{
    position: relative;
    width:fit-content;
    top: 1.6em;
    left: 2.2em;

}
/* .tables{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:2% 5%;
}
.tables>table{
    width:45%;
    border-collapse: collapse;
    
} */