body {
    background-color: #224B88;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6, th {
    color:#F7F7F7;
}
thead {
    background-color: #1F437B;
}
th {
    background-color: #3E9FCA;

    
    
}

 table {
    background-color: #3E9FCA;
    width:49%;
    border-width: 0px;
    padding:5px;
    border-style: solid;
    border-radius: 10px;
    border-spacing: 0px;
    
 }
 td{
    padding:1%;
 }
tr:nth-child(odd) {
    background-color:#F7F7F7;
}
tr:nth-child(even) {
    background-color: lightgray;
}

#header {
    background-color: #1F437B;
    display:flex;
    justify-content: space-between;
    height:60px;
    padding:1%;
}
#header>div{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:12%;
}
#header>div>a{
    color:white;
    text-decoration:none;
    font-size:20px;
    margin:0 1%;
}
.tablesDiv{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin:5%;
    margin-top:4%;
    margin-bottom:5%;
    gap: 15px;
}
.team-container{
    width:80%;
    margin:auto;
}
.header-teams{
    position: relative;
    width:fit-content;
    top: 1.6em;
    left: 3.1em;

}
.anchor-team-name{
    text-decoration: none ;
    color:black;
}
.logo>img{
   height:100%;
   margin-left:5%;
}
.logo:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.logo-for-team{
    height:20px;
    padding-left:2px;
    padding-right:5px;
}